Located in {{rental.city}}, this {{rental.bedrooms}} bedroom {{rental.type}}
is available by arrangement through {{rental.owner}}
<br>
<p><img src={{rental.image}} alt={{rental.type}}></p>

<h2 class="text-warning"> Review </h2>
<ul>
  {{#each sortedReviews as |review|}}
   {{review-tile review=review destroyReview="destroyReview"}}
  {{/each}}
</ul>

<div>
  <h3>Map of {{rental.owner}}'s {{rental.type}}</h3>
  {{google-map rental=rental}}
</div>

  <button class="btn-lg btn-danger" {{action 'delete' rental}}>Delete</button>
